[*.cs]

# CA1303: Не передавать литералы в качестве локализованных параметров
dotnet_diagnostic.CA1303.severity = none

# CA1307: Укажите StringComparison
dotnet_diagnostic.CA1307.severity = none

# CA1031: Не перехватывать исключения общих типов
dotnet_diagnostic.CA1031.severity = none

# IDE0040: Добавьте модификаторы доступности
dotnet_style_require_accessibility_modifiers = for_non_interface_members:none

# CA1308: Нормализуйте строки до прописных букв
dotnet_diagnostic.CA1308.severity = none
