<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TranslationHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TranslationHelper.Properties.Settings>
            <setting name="DontLoadStringIfRomajiPercent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DontLoadStringIfRomajiPercentNum" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="AutotranslationForSimular" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsTranslationCacheEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFullComprasionDBloadEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebTranslationLink" serializeAs="String">
                <value>https://translate.google.com/?ie=UTF-8&amp;op=translate&amp;sl=auto&amp;tl=en&amp;text={text}</value>
            </setting>
            <setting name="OnlineTranslationSourceLanguage" serializeAs="String">
                <value>Japanese jp</value>
            </setting>
            <setting name="OnlineTranslationTargetLanguage" serializeAs="String">
                <value>English en</value>
            </setting>
            <setting name="THdebug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsTranslationHelperWasClosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="THOptionLineCharLimit" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="THSelectedGameDir" serializeAs="String">
                <value />
            </setting>
            <setting name="THSelectedDir" serializeAs="String">
                <value />
            </setting>
            <setting name="RPGMTransPatchVersion" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="THSelectedSourceType" serializeAs="String">
                <value />
            </setting>
            <setting name="THFilesListSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="THTranslationCachePath" serializeAs="String">
                <value />
            </setting>
            <setting name="THAutoSetSameTranslationForSimularIsBusy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlineTranslationCacheUseCount" serializeAs="String">
                <value>0</value>
            </setting>
        </TranslationHelper.Properties.Settings>
        <Properties.Settings>
            <setting name="DontLoadStringIfRomajiPercent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DontLoadStringIfRomajiPercentNum" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="AutotranslationForSimular" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsTranslationCacheEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFullComprasionDBloadEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebTranslationLink" serializeAs="String">
                <value>https://translate.google.com/?ie=UTF-8&amp;op=translate&amp;sl=auto&amp;tl=en&amp;text={text}</value>
            </setting>
            <setting name="OnlineTranslationSourceLanguage" serializeAs="String">
                <value>Japanese</value>
            </setting>
            <setting name="OnlineTranslationTargetLanguage" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="THdebug" serializeAs="String">
                <value>True</value>
            </setting>
        </Properties.Settings>
    </userSettings>
</configuration>